/* Uses Bootstrap stylesheets for styling, see linked CSS*/
body {
    background-color: #fff;
    padding: 15px;
}

.toast {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
}

.bootstrap-basic {
    background: white;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.braintree-hosted-fields-focused.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
